<%= content_tag :div, class: "companies", data: { data: @companies } do %>
<% end %>

<h1 class="graph-title"></h1>

<p>Click on graph for transition</p>



<div class="bar-chart">
</div>

<div class="data-box hidden">
  <p class="line-one"></p>
  <p class="line-two"></p>
  <p class="line-three"></p>
  <p class="line-four"></p>
</div>
